/*
Stylesheet for supercanvas font demo
Copyright (C) 2011 Nick Beeuwsaert
This file is part of SuperCanvas.

SuperCanvas is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SuperCanvas is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SuperCanvas.  If not, see <http://www.gnu.org/licenses/>.
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.everything {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    
    box-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    
    height: 100%;    
}
.main {
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    
    display: box;
    display: -moz-box;
    display: -webkit-box;
    
    box-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    
    box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}
.top {
    box-flex: 0;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    
    display: box;
    display: -moz-box;
    display: -webkit-box;
    
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    
    box-pack: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    
    font-family: helvetica neue, helvetica, arial, sans;
    font-size: 8pt;
}
.top input {
    display: block;
    border: 1px solid grey;
    font-size: 8pt;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px #ddd inset;
}
#svg_url {
    box-flex: 10;
    -moz-box-flex: 10;
    -webkit-box-flex: 10;
}
#zoom {
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    
}
.sidepane {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    
    box-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}
.content {
    box-flex: 9;
    -moz-box-flex: 9;
    -webkit-box-flex: 9;
    width: 100px;
    display: block;
    overflow:scroll;
    text-align: center;
    min-height: 1px;
}
.content canvas {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
cursor: default;
}
*::selection {
cursor: default;
}
.sidepane  * {
    display:block;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    margin: 0;
    padding: 0;

}
.sidepane #glyphs {
    box-flex: 9;
    -moz-box-flex: 9;
    -webkit-box-flex: 9;
}
#glyphs, #fonts {
    background-color: #eee;
}
#glyphs:empty {
background: url(images/glyphSelect.svg) no-repeat center center;
}
#fonts:empty {
background: url(images/noSVGLoaded.svg) no-repeat center center, url(images/arrow.svg) no-repeat 80% top;
background-size: auto, 50%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    box-shadow: 0 0 3px #111 inset;
}
::-webkit-scrollbar:vertical {
    border-radius: 5px 0 0 5px;
    
}
::-webkit-scrollbar:horizontal {
    border-radius: 5px 5px 0 0;
   } 
::-webkit-scrollbar-thumb {
    background-color: #666;
    box-shadow: 0 0 5px #fff inset;
    border-radius: 5px 0 0 5px;
}
